.catalog {
  top: 48px;
  left: 184px;
  display: none;
  background-color: var(--color-catalog-submenu);
  width: var(--catalog-submenu-width);
  height: var(--catalog-submenu-height);
  border-radius: var(--catalog-submenu-border-radius);
  box-shadow: 0 20px 20px var(--color-catalog-submenu-shadow);
  z-index: 10;
}

.catalog:hover + .header-nav__link{
  background-color: var(--color-header-navigation-hover);
  border-radius: var(--button-border-radius);
  color: var(--color-text-secondary);
}

.header-nav__item:first-of-type:hover .catalog {
  display: grid;
  position: absolute;
  grid-template-rows: 38px repeat(4, 1fr);
  align-items: center;
}

.catalog__item:first-of-type{
  display: flex;
  padding-left: 6px;
  padding-right: 11px ;
  align-items: center;
  height: 38px;
}

.catalog__item{
  padding: 0 20px;
  display: flex;
  height: 33px;
  align-items: center;
}

.catalog__item:hover{
  background-color: var(--color-catalog-submenu-hover);
}

.catalog__item:active{
  background-color: var(--color-catalog-submenu-active);
}

.catalog__item.-current{
  background-color: var(--color-catalog-submenu-current);
  color: var(--color-text-main);
}



.catalog__item{
  font: var(--font-header-secondary);
  color: var(--color-text-secondary);
}

.catalog__link{
  font: inherit;
  color: inherit;
}

.catalog__link.-new{
  display: flex;
  height: 38px;
  align-items: center;
  padding-left: 14px;
  width: 128px;
  font: var(--font-header-new);
  border-bottom: 1px solid var(--color-catalog-submenu-divider);
}
