.header__info{
  margin-top: 2px;
  color: var(--color-text-main);
  grid-column: 1/5;
  grid-row: 2/3;
  display: grid;
  justify-items: end;
}

.header__working-time{
  font: var(--font-header-working-time);
}

.header__tel{
  margin-top: 8px;
  font: var(--font-header-tel);
  color: inherit;
}