.header-nav{
  align-self: center;
}

.header-nav__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-nav__item{
  margin: 0 3px 10px;
  color: var(--color-text-main);
}

.header-nav__item:first-of-type{
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}


.header-nav__item:last-of-type{
  margin-right: 0;
}

.header-nav__link {
  padding: 6px 13px 7px;
  font: var(--font-header-main);
  color: inherit;
  text-decoration: underline var(--color-navigation-border);
  text-underline-position: under;
}

.header-nav__link.-current{
  border-radius: var(--button-border-radius);
  background-color: var(--color-header-navigation-current);
  text-decoration: none;
}

.header-nav__link:hover{
  background-color: var(--color-header-navigation-hover);
  border-radius: var(--button-border-radius);
  color: var(--color-text-secondary);
  text-decoration: none;
}

.header-nav__link:active{
  box-shadow: inset 0 1px 2px var(--color-navigation-shadow-active);
}









