.userbar{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.userbar__list{
  display: flex;
}


.userbar__list-item{
  margin: 0 5px;
  padding-bottom: 10px;
  position: relative;
}

.userbar__list-item:first-of-type{
  margin-left: 0;
}

.userbar__list-item:last-of-type{
  margin-right: 0;
}

.userbar__icon{
  margin-right: 8px;
}

.userbar__list-item:hover .userbar__icon-property{
  fill: var(--color-text-secondary);
}

.userbar__icon.-search{
  margin-right: 0;
}

.userbar__login-text{
  display: flex;
  align-items: center;
}

.userbar__basket-text{
  display: flex;
  align-items: center;
}
