:root{
  --button-border-radius: 10em;
  --banner-border-radius: 16px;
  --about-border-radius: 16px;
  --product-card-border-radius: 4px;
  --input-border-radius: 6px;
  --feedback-border-radius: 6px;
  --contacts-border-radius: 16px;
  --catalog-submenu-border-radius: 4px;
  --basket-border-radius: 4px;
}