.banner{
  padding: 16px 22px 22px 16px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: var(--banner-width);
  height: var(--banner-height);
  color: var(--color-text-main);
  border-radius: var(--banner-border-radius);
  background-color: var(--color-background-template);
}

.banner.-left{
  background-image: url("../../../images/index/crimson_background.jpg");
  background-repeat: no-repeat;
}

.banner.-right{
  background-image: url("../../../images/index/chocolate_background.jpg");
  background-repeat: no-repeat;
}

.banner__headline{
  margin-bottom: 16px;
  font: var(--font-banner-header);
}

.banner__text{
  margin-bottom: 16px;
  font: var(--font-banner-text);
  max-width: 515px;
}

.banner__button{
 align-self: flex-end;
  justify-self: flex-end;
}

