.site-wrapper-1{
  background-color: var(--color-page-background-first);
  background-image: url("../../../images/index/slider-img-1.png");
}

.site-wrapper-2{
  background-color: var(--color-page-background-second);
  background-image: url("../../../images/index/slider-img-2.png");
}

.site-wrapper-3{
  background-color: var(--color-page-background-third);
  background-image: url("../../../images/index/slider-img-3.png");
}
