.index-main{
  display: grid;
  grid-template-columns: repeat(4, 267px) ;
  column-gap: 26px;
  grid-template-rows: min-content;
  row-gap: 40px;
}

.index-body {
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -250px;
  background-attachment: scroll;
}

.site-wrapper-1{
  background-color: var(--color-page-background-first);
  background-image: url("../../../images/index/slider-img-1.png");
}

.site-wrapper-2{
  background-color: var(--color-page-background-second);
  background-image: url("../../../images/index/slider-img-2.png");
}

.site-wrapper-3{
  background-color: var(--color-page-background-third);
  background-image: url("../../../images/index/slider-img-3.png");
}
