@import "index-global.css";
@import "slider.css";
@import "banners.css";
@import "banners-line.css";
@import "hits.css";
@import "about.css";
@import "news.css";
@import "subscription.css";
@import "contacts.css";
@import "feedback.css";