.slider{
  margin-top: 275px;
  text-align: center;
  grid-column: 1/5;
  position: relative;
}

.slider__list{
  display: grid;
  justify-items: center;
}

.slide-title{
  max-width: 670px;
  margin-bottom: 30px;
  font: var(--font-main-slider);
  color: var(--color-text-main);
}

.slider__controls{
  position: absolute;
  bottom: 8px;
  display: flex;
  align-items: center;
}

.slider__controls-button{
  padding: 0;
  margin: 0 4px;
  width: var(--slider-button-size);
  height: var(--slider-button-size);
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--color-slider-button);
}

.slider__controls-button:first-of-type{
  margin-left: 0;
}

.slider__controls-button:last-of-type{
  margin-right: 0;
}

.slider__controls-button:hover{
  background: var(--color-slider-button-hover);
}

.slider__controls-button.-current{
  background: var(--color-slider-button);
}

.slide{
  display: none;
}

.slide.-current{
  display: block;
}