.subscription{
  width: var(--banner-width);
  height: var(--banner-bottom-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/index/postal_background.jpg");
  border-radius: var(--banner-border-radius);
}

.subscription__content-wrapper{
  padding: 29px 16px 35px 20px;
  width: 548px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background_postal);
  border-radius: var(--banner-border-radius);
}

.subscription__headline{
  display: none;
}

.subscription__text{
  font: var(--font-subscription-text);
  color: var(--color-subscription-text);
}