.breadcrumbs{
  margin-top: -20px;
  max-width: 880px;
  display: flex;
}

.breadcrumbs__item{
  display: flex;
  font: var(--font-catalog-breadcrumbs);
  color: var(--color-text-main);
}

.breadcrumbs__item:after{
  margin: 0 8px;
  content: url("../../../images/catalog/arrows.svg");
}

.breadcrumbs__item:last-of-type:after{
  content: none;
}

.breadcrumbs__link{
  font: var(--font-catalog-breadcrumbs);
  color: var(--color-text-main);
  border-bottom: 1px solid var(--color-text-border);
}