.filter__form{
  margin-bottom: 26px;
  max-width: 870px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter{
  margin-bottom: 14px;
}

.filter__headline{
  margin-left: 16px;
  margin-bottom: 7px;
  font: var(--font-catalog-label);
  color: var(--color-text-main);
}

.filter__control{
  padding: 0 19px 0 16px;
  min-height: 36px;
}

.control{
  display: flex;
  align-items: center;
  background-color: var(--color-white-transparent);
  border-radius: var(--button-border-radius);
}

.control__label{
  display: flex;
  align-items: center;
  font: var(--font-catalog-filter);
  color: var(--color-text-main);
}

.control__item{
  margin: 0 10px;
}

.control__item:first-of-type{
  margin-left: 0;
}

.control__item:last-of-type{
  margin-right: 0;
}

.control__icon.-radio{
  margin-right: 13px;
}

.control__icon.-checkbox, .control__icon.-checkbox-on{
  margin-right: 11px;
}

/* Меняем чекбоксы */

.control__input.-checkbox + .control__label .control__icon.-checkbox-on{
  display: none;
}

.control__input.-checkbox:checked + .control__label .control__icon.-checkbox{
  display: none;
}

.control__input.-checkbox:checked + .control__label .control__icon.-checkbox-on{
  display: inline;
}

/* Меням радиокнопки */

.control__input.-radio+ .control__label .control__icon-property.-radio-on{
  fill-opacity: 0;
}

.control__input.-radio:checked + .control__label .control__icon-property.-radio-on{
  fill-opacity: 0.8;
}


.control__label:hover .control__icon-property{
  fill-opacity: 1.0;
}

.control__input.-radio:checked + .control__label:hover .control__icon-property.-radio-on{
  fill-opacity: 1.0;
}

/* select */

.select{
  position: relative;
  background-color: var(--color-white-transparent);
  border-radius: var(--button-border-radius);
  font: var(--font-catalog-filter);
  color: var(--color-text-main);
}

.select__control{
  appearance: none;
  padding: 0 15px;
  min-height: 36px;
  min-width: 196px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.select:hover {
  color: var(--color-text-secondary);
}


.select:hover .select__icon-property{
  fill: var(--color-text-secondary);
}

.select__control:focus + .select__icon .select__icon-property{
  fill: var(--color-text-secondary);
}

.select__control:focus{
  color: var(--color-text-secondary);
  outline: none;
}


.select__icon{
  position: absolute;
  top: 40%;
  right: 14px;
}