.goods{
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-navigation-border);
}


.goods__list{
  margin: 0 -13px;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
}

.goods__list-item{
  margin-bottom: -72px;
}

.goods__pager{
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(7, 26px);
  align-items: center;
  justify-content: end;
  justify-items: center;
  column-gap: 12px;
}

.goods__pager-item{
  font: var(--font-catalog-pager);
  color: var(--color-text-main);
}

.goods__pager-item:first-of-type{
  margin-right: 4px;
}

.goods__pager-item:last-of-type{
  margin-left: 4px;
}

.goods__pager-link{
  font: inherit;
  color: inherit;
}

.goods__pager-link.-current{
  color: var(--color-text-secondary);
  background-color: var(--color-pager-current);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.goods__pager-link:hover{
  background-color: var(--color-pager-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.goods__pager-link.-current:hover{
  color: var(--color-text-secondary);
  background-color: var(--color-pager-current);
}

.goods__pager-button{
  background: none;
}

.goods__pager-button:disabled .goods__pager-icon-property{
  fill-opacity: 0.2;
}
