.basket{
  top: 37px;
  right: 0;
  display: none;
  padding: 20px;
  width: 540px;
  grid-template-columns: 1fr 172px;
  grid-template-rows: min-content max-content min-content;
  row-gap: 16px;
  position: absolute;
  background: var(--color-form-background);
  box-shadow: 0 20px 20px var(--color-form-shadow);
  border-radius: var(--basket-border-radius);
  color: var(--color-text-secondary);
}

.userbar__list-item:hover .basket{
  display: grid;
}

.basket__list{
  padding-bottom: 18px;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-column: 1/3;
  row-gap: 20px;
  border-bottom: 1px solid var(--color-grey-celeste);
  font: var(--font-basket-main);
}

.basket__list-item{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 11px 33px 216px 124px 80px;
  column-gap: 9px;
}

.basket__price-final{
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  font: var(--font-basket-price);
}

.basket__button{
  grid-column: 2/3;
  grid-row: 3/4;
}

.basket__cross-icon{
  position: absolute;
  top: 0;
  left: 0;
}