.modal{
  background:  var(--color-black-transparent-darker);
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal__feedback{
  padding: 22px 24px 25px;
  position: fixed;
  top: 200px;
  left: calc(50% - (var(--feedback-width) / 2));
}