.product-card {
  padding: 6px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--product-card-width);
  height: var(--product-card-height-hover);
  position: relative;
}

.product-card:hover{
  background-color: var(--color-product-card-background);
  border-radius: var(--product-card-border-radius);
}

.product-card__hit{
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 15px;
  z-index: 1;
}

.product-card__image{
  border-radius: 50%;
  object-fit: contain;
}

.product-card__price{
  font: var(--font-card-price-main);
  color: var(--color-product-card-text);
  position: absolute;
  top: 215px;
  left: 15px;
  text-shadow: 0 1px 3px var(--color-product-card-text-shadow);
}

.product-card__price-weight{
  font: var(--font-card-price-secondary);
}

.product-card__text{
  margin-top: 13px;
  font: var(--font-card-text);
  color: var(--color-product-card-text);
  text-align: center;
  text-decoration: underline var(--color-text-border);
  width: 250px;
}

.product-card__button{
  visibility: hidden;
}

.product-card:hover{
  height: var(--product-card-height-hover);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product-card:hover .product-card__button{
  margin-top: 10px;
  visibility: initial;
  z-index: 1;
}