.footer-nav__list{
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  justify-self: center;
}

.footer-nav__list-item{
  font: var(--font-footer-navigation);
  color: var(--color-text-main);
}

.footer-nav__list-link{
  font: inherit;
  color: inherit;
  border-bottom: 1px solid var(--color-navigation-border);
}

.footer-nav__list-item:first-of-type{
  margin-left: -19px;
  display: flex;
  align-items: center;
  font: var(--font-footer-important);
}

.footer-nav__list-item:hover{
  color: var(--color-links-hover-main);
}

.footer-nav__list-item:hover .footer-nav__icon-property{
  fill: var(--color-links-hover-main);
}

.footer-nav__icon{
  margin-right: 4px;
}

.footer-nav__list-item:nth-of-type(-n+1){
  grid-column-end: 2;
}