@import "../../../node_modules/reset.css/reset.css";
@import "libs/libs.css";
@import "components/common/common.css";
@import "fonts.css";
@import "global.css";
@import "variables/variables.css";
@import "components/header/header.css";
@import "components/sections_index/sections.css";
@import "components/sections_catalog/catalog_sections.css";
@import "components/footer/footer.css";